### L&ouml;sungen Lektion 4

***
range
***

In [ ]:
lst_even = list(range(2, 101, 2))
lst_odd  = list(range(1, 100, 2))
sum_even = sum(range(2, 101, 2))
sum_odd  = sum(range(1, 100, 2))

print(lst_even[0:3], lst_even[-3:], len(lst_even), sum_even, sep = ', ')
print(lst_odd[0:3], lst_odd[-3:], len(lst_odd), sum_odd, sep = ', ')

Der Ausdruck
```python
[i for i in range(1000) if sum(range(1, i * 2, 2)) != i ** 2]
```

hat den Wert `[]`.
Das sagt uns, dass f&uuml;r alle Werte von 0<= i < 1000,
`sum(range(1, i * 2, 2)) == i ** 2` ist.
Dabei ist `i ** 2` die i-te Quadratzahl, und `sum(range(1, i * 2, 2))` die Summe der ersten i ungeraden Zahlen

In [1]:
# die ersten 5 ungeraden Zahlen
i = 5
list(range(1, i * 2, 2))

[1, 3, 5, 7, 9]

In [2]:
print(sum(range(1, i * 2, 2)), i ** 2)

25 25

***
Logische Operatoren
***

Ist `bool(lst[0])` gleich `False`, so ebenfalls `bool(lst and lst[0])`,
und Variante 2 gibt f&auml;lschlicherweise 'Liste ist leer!' aus.

In [12]:
lst = [0]
# lst = ['']
# lst = [None]
# lst = [False]
# lst = [()]
# lst = [[]]

# Variante 1
if lst: # Liste nicht leer
    print(lst[0])
else:
    print('Liste ist leer!')
    
# Variante 2
print(lst and lst[0] or 'Liste ist leer!')

0
Liste ist leer!

In [ ]:
***
Funktionen II
***

In [13]:
A = (3,3)
B = (3,7)
C = (6,3)

def distance(x1, y1, x2, y2):
    '''returns distance from (x1, y1) to (x2, y2)'''
    return ((x1 - x2) ** 2 + (y1 - y2) ** 2) ** (1 / 2)

msg = 'Distance from {} to {}: {}'
print(msg.format('A', 'B', distance(*A, *B)))
print(msg.format('B', 'C', distance(*B, *C)))
print(msg.format('C', 'A', distance(*C, *A)))

Distance from A to B: 4.0
Distance from B to C: 5.0
Distance from C to A: 3.0

In [14]:
customers = [{'name'   : 'Anna',
              'anrede' : 'Liebe',
              'gruss'  : 'Mit freundlichen Grüssen',
             },
            ]
            
email_template = '''\
{anrede} {name},
 
{msg}
 
{gruss},
{absender}
''' 

def compose_email(customer, msg, absender = 'Your Name'):
    return email_template.format(msg = msg, 
                                 absender = absender, 
                                 **customer
                                )

msg = 'danke fuer deine rasch Anwort.'
print(compose_email(customers[0], msg))

Liebe Anna,

danke fuer deine rasch Anwort.

Mit freundlichen Grüssen,
Your Name

***
Slice-Notation
***

In [17]:
# Zeichen einfuegen
s = 'einszwei'
t = s[:4] + ' ' + s[4:]
print(t)

eins zwei

In [18]:
# Zeichen entfernen
s = 'eins zwei'
t = s[:4] +  s[5:]
print(t)

einszwei

In [20]:
def is_palindrom(word):
    word = word.upper()
    return word == word[::-1]

is_palindrom('Radar')

True

In [21]:
lst = [0, 1, 2, 3, 4, 5, 6]
lst[::2] = [0] * 4
lst

[0, 1, 0, 3, 0, 5, 0]