### Funktionen programmieren
Das Finden und Korrigieren syntaktischer und sematischer Fehler in fehlerhaftem Code ist
zeitaufw&auml;ndig. Es empfiehlt sich, eine Funktion inkrementell zu erstellen, d.h. kleine, geteste Codefragmente sukzessive zu erweitern und in Funktionen zu packen.  

Nachstehend entwickeln wir eine Funktion  
`print_as_table(header, data_rows)`,  
die folgenden Output produziert: 

```python
header    =  ('Vorname', 'Nachname', 'Email')
data_rows = [('Anna', 'Meier', 'Anna.Meier@foo.ch'), 
             ('Hans', 'Mustermann', 'Hans.Mustermann@foo.ch'),
            ] 

print_as_table(header, data_rows)
```  

Erwarteter Output:
```
|Vorname|Nachname  |Email                 |
|=======|==========|======================|
|Anna   |Meier     |Anna.Meier@foo.ch     |
|Hans   |Mustermann|Hans.Mustermann@foo.ch|
```

***
Beginne mit einer einfacherer Aufgabe:  
Gib 
```
|Vorname        |Nachname       |
|===============|===============|
|Hans           |Muster         |
```
aus.
***

***
Einzelne Strings kreieren
***

***
Obiger Code wird mehrmals verwendet.  
Wir machen daraus eine Funktion, die wir bei Bedarf aufrufen k&ouml;nnen.
***

***
Als n&auml;chstes wollen wir  eine variable Anzahl Spalten
handhaben k&ouml;nnen.  
Statt 2 Strings nimmt die Funktion nun ein Tuple von Strings als Argument.
***

***
Obiger Code macht was er soll.  
Machen wir daraus eine Funktion.
***

***
Zus&auml;tzliches Argument `width` hinzuf&uuml;gen.
***

In [ ]:
COL_WIDTH = 15
header = ('Name', 'Vorname')
hline = ('=' * COL_WIDTH, ) * 2
name1 = ('Anna', 'Meyer')

tuple2table_str(header, COL_WIDTH)    
tuple2table_str(hline, COL_WIDTH)    
tuple2table_str(name1, COL_WIDTH)

***
Der mehrmalige Aufruf von `tuple2table_str` erfolgt nun in einem For-Loop:
***

***
Breite f&uuml;r jede Spalte separat festlegen. Statt einer Konstante WIDTH benutzen wir ein Tuple von Integern. Um die Liste `cols` zu erstellen iterieren wir &uuml;ber `zip(tp, widths)` statt `tp`.
- `WIDTH: int -> widths: tuple[int]`
- `for item in tp: --> for item, width in zip(tp, widths):`
***

***
Ermittle maximale Spaltenbreite.  
**Annahme**: alle Zeilen haben gleich viele Spalten wie die erste Zeile
***

***
Verwende nun die Funktion `get_widths`
***

***
Code macht was er soll, machen wir daraus eine Funktion
***

***
Funktion `print_as_table` testen
***