### Funktionen programmieren
Das Finden und Korrigieren syntaktischer und sematischer Fehler in fehlerhaftem Code ist
zeitaufw&auml;ndig. Es empfiehlt sich, eine Funktion inkrementell zu erstellen, d.h. kleine, geteste Codefragmente sukzessive zu erweitern und in Funktionen zu packen.  

Nachstehend entwickeln wir eine Funktion  
`print_as_table(header, data_rows)`,  
die folgenden Output produziert: 

```python
header    =  ('Vorname', 'Nachname', 'Email')
data_rows = [('Anna', 'Meier', 'Anna.Meier@foo.ch'), 
             ('Hans', 'Mustermann', 'Hans.Mustermann@foo.ch'),
            ] 

print_as_table(header, data_rows)
```  

Erwarteter Output:
```
|Vorname|Nachname  |Email                 |
|=======|==========|======================|
|Anna   |Meier     |Anna.Meier@foo.ch     |
|Hans   |Mustermann|Hans.Mustermann@foo.ch|
```

***
Beginne mit einer einfacherer Aufgabe:  
Gib 
```
|Vorname        |Nachname       |
|===============|===============|
|Hans           |Muster         |
```
aus.
***

***
Einzelne Strings kreieren
***

In [ ]:
'=' * 15

In [ ]:
col1 = 'Vorname'.ljust(15)
col2 = 'Nachname'.ljust(15)
# print('|' + col1 + '|' + col2 + '|')
print('|{}|{}|'.format(col1, col2))

In [ ]:
col1 = '=' * 15
col2 = '=' * 15
print('|{}|{}|'.format(col1, col2))

In [ ]:
col1 = 'Hans'.ljust(15)
col2 = 'Muster'.ljust(15)
print('|{}|{}|'.format(col1, col2))

***
Obiger Code wird mehrmals verwendet.  
Wir machen daraus eine Funktion, die wir bei Bedarf aufrufen k&ouml;nnen.
***

In [ ]:
def print_pair(item1, item2):
    '''print item1 and item2 as columns in a table with
       columnwidth = 15
    '''
    col1 = item1.ljust(15)
    col2 = item2.ljust(15)
    print('|{}|{}|'.format(col1, col2))

In [ ]:
print_pair('Name', 'Vorname')
print_pair('=' * 15, '=' * 15)
print_pair('Hans', 'Mustermann')

***
Als n&auml;chstes wollen wir  eine variable Anzahl Spalten
handhaben k&ouml;nnen.  
Statt 2 Strings nimmt die Funktion nun ein Tuple von Strings als Argument.
***

In [ ]:
tp = ('Anna', 'Meyer')
# tp = ('Anna', 'Meyer', 'anna.meier@foo.ch')

cols = []
for item in tp:
    s = item.ljust(15)
    cols.append(s)
    
# cols
s = '|'
for col in cols:
    s = s + col + '|'
print(s)

***
Obiger Code macht was er soll.  
Machen wir daraus eine Funktion.
***

In [ ]:
def print_tuple(tp):  
    '''gib tp als Tabellenzeile aus mit Spaltenbreite width'''  
    cols = []
    for item in tp:
        s = item.ljust(15)
        cols.append(s)

    s = '|'
    for col in cols:
        s = s + col + '|'
    print(s)

In [ ]:
header = ('Name', 'Vorname', 'Email')
print_tuple(header)

***
Zus&auml;tzliches Argument `width` hinzuf&uuml;gen.
***

In [ ]:
def print_tuple(tp, width):  
    '''gib tp als Tabellenzeile aus mit Spaltenbreite width'''  
    cols = []
    for item in tp:
        s = item.ljust(width)
        cols.append(s)

    s = '|'
    for col in cols:
        s = s + col + '|'
    print(s)

In [ ]:
header = ('Name', 'Vorname', 'Email')
print_tuple(header, 15)

***
Der mehrmalige Aufruf von `print_tuple` erfolgt nun in einem For-Loop:
***

In [ ]:
COL_WIDTH = 15
header    = ('Name', 'Vorname', 'Email')
data_rows = [('Anna', 'Meier', 'Anna.Meier@foo.ch'), 
             ('Hans', 'Mustermann', 'Hans.Mustermann@foo.ch'),
            ] 
hline = ('=' * COL_WIDTH, ) * len(header)


rows = [header, hline] + data_rows
for row in rows:
    print_tuple(row, COL_WIDTH)

***
Breite f&uuml;r jede Spalte separat festlegen. Statt einer Konstante WIDTH benutzen wir ein Tuple von Integern. Um die Liste `cols` zu erstellen iterieren wir &uuml;ber `zip(tp, widths)` statt `tp`.
- `WIDTH: int -> widths: tuple[int]`
- `for item in tp: --> for item, width in zip(tp, widths):`
***

In [ ]:
def print_as_tuple(tp, widths):  
    '''gib tp als Tabellenzeile aus mit Spaltenbreite width'''  
    cols = []
    for item, width in zip(tp, widths):
        s = item.ljust(width)
        cols.append(s)

    s = '|'
    for col in cols:
        s = s + col + '|'
    print(s)

***
Ermittle maximale Spaltenbreite mit einer Funktion `get_widths`.   
**Annahme**: alle Zeilen haben gleich viele Spalten wie die erste Zeile
***

In [ ]:
def get_widths(header, data_rows):
    '''gibt tuple mit den maximalen Spaltenbreiten 
       von header und data_rows zurueck
    '''   

    widths = [] 
    for row in header:
        width = len(row)
        widths.append(width)

    for row in data_rows:
        for i, item in enumerate(row):
            new_width = max(widths[i], len(item))
            widths[i] = new_width

    return widths

In [ ]:
get_widths(header, data_rows)

***
Verwende nun die Funktion `get_widths`
***

***
Code macht was er soll, machen wir daraus eine Funktion
***

In [ ]:
def print_as_table(header, data_rows):    
    '''Gib header und data_rows in Tabellenform aus
    
       header: Tuple mit Spaltennamen
       data_rows: Liste von Tupeln mit Spalteneintraegen 
    '''
    pass

In [ ]:
print_as_table(header, data_rows)

***
Funktion `print_as_table` mit Hilfsfunktionen in einer Zelle  
Dann Zelle in ein File schreiben mit  
`%%file <filename>`
***

In [ ]:
# %%file ~/work/modules/tools.py