###  Eine Funktion zur `table2str`
Ziel ist es, eine Funktion  `table2str(header, rows)` 
zu schreiben, die Folgendes macht:  
- `header` ist ein Tuple mit den Eintr&auml;gen der Kopfzeile der Tabelle,
z.B. `('Vorname', 'Nachname')`
- `rows` ist eine Liste von Tuples mit Eintr&auml;gen der Tabellenzeilen,
z.B.  

```python
rows = [('Anna',  'Meier'), 
        ('Hans', 'Mustermann'),
       ] 
```
- die Funktion `table2str(header, rows)`  soll diesen Output produzieren:

```
| Vorname | Name       |
| ======= | ========== |
| Anna    | Meier      |
| Hans    | Mustermann |
```

### 1 Tabellarischer Output

In [92]:
COL_WIDTH = 15
print('| {} | {} |'.format('Vorname'.ljust(COL_WIDTH) , 'Nachname'.ljust(COL_WIDTH) ))
print('| {} | {} |'.format(COL_WIDTH * '=', COL_WIDTH  * '='))
print('| {} | {} |'.format('Hans'.ljust(COL_WIDTH) , 'Muster'.ljust(COL_WIDTH) ))

| Vorname         | Nachname        |
| =============== | =============== |
| Hans            | Muster          |

***
**DRY**: Don't repeat yourself
***

In [14]:
def pad_cols(cols):
    'pad strings in tuple col'
    res = []
    for col in cols:
        res.append(col.ljust(COL_WIDTH))
    return res

COL_WIDTH = 15
FSTRING = '| {} | {} |'

header = pad_cols(('Vorname', 'Nachname'))
hline = pad_cols(('=' * COL_WIDTH, '=' * COL_WIDTH))
row = pad_cols(('Anna',  'Meier'))

print(FSTRING.format(*header))
print(FSTRING.format(*hline))
print(FSTRING.format(*row))

| Vorname         | Nachname        |
| =============== | =============== |
| Anna            | Meier           |

In [15]:
COL_WIDTH = 15
FSTRING = '| {} | {} |'

def pad_cols(cols):
    'pad strings in tuple col'
    res = []
    for col in cols:
        res.append(col.ljust(COL_WIDTH))
    return res

headers = pad_cols(('Vorname', 'Nachname'))
hlines = pad_cols(('=' * COL_WIDTH, '=' * COL_WIDTH))
row = pad_cols(('Anna',  'Meier'))

rows = [headers, hlines, row]
for row in rows:
    print(FSTRING.format(*row))

| Vorname         | Nachname        |
| =============== | =============== |
| Anna            | Meier           |

In [27]:
COL_WIDTH = 15
FSTRING = '| {} | {} |'

def pad_cols(cols):
    'pad strings in tuple col'
    res = []
    for col in cols:
        res.append(col.ljust(COL_WIDTH))
    return res

headers = ('Vorname', 'Nachname')
hlines = ('=' * COL_WIDTH, '=' * COL_WIDTH)
data_rows = [('Anna',  'Meier'), 
             ('Hans', 'Mustermann'),
            ] 

rows = [headers, hlines] +  data_rows
padded_rows = [pad_cols(col) for col in rows]

for row in padded_rows:
    print(FSTRING.format(*row))

| Vorname         | Nachname        |
| =============== | =============== |
| Anna            | Meier           |
| Hans            | Mustermann      |

In [29]:
COL_WIDTH = 15
FSTRING = '| {:<15} | {:<15} |'

headers = ('Vorname', 'Nachname')
hlines = ('=' * COL_WIDTH, '=' * COL_WIDTH)
data_rows = [('Anna',  'Meier'), 
             ('Hans', 'Mustermann'),
            ] 

rows = [headers, hlines] +  data_rows
for row in rows:
    print(FSTRING.format(*row))

| Vorname         | Nachname        |
| =============== | =============== |
| Anna            | Meier           |
| Hans            | Mustermann      |

***
**Geschweifte Klammern in Strings mit Platzhaltern**:  
- `'{'` wird als &ouml;ffnende Klammer eines Platzhalters interpretiert, und muss mit `'}'` wieder geschlossen werden.  
- `'{{'` und `'}}'` stellen die Zeichen `'{'` und `'}'` dar.
***

In [87]:
def get_fstring(ncols, width):    
    fstring_col = ' {{:<{width}}} '.format(width = width)
    fstring = '|'.join([''] + [fstring_col] * ncols + ['']) 
    return fstring

In [88]:
get_fstring(3, 15)

'| {:<15} | {:<15} | {:<15} |'

In [91]:
COL_WIDTH = 15

header = ('Vorname', 'Nachname')
hlines = ('=' * COL_WIDTH, '=' * COL_WIDTH)
data_rows = [('Anna',  'Meier'), 
             ('Hans', 'Mustermann'),
            ] 


fstring = get_fstring(len(header), COL_WIDTH)
rows = [header, hlines] +  data_rows
for row in rows:
    print(fstring.format(*row))

| Vorname         | Nachname        |
| =============== | =============== |
| Anna            | Meier           |
| Hans            | Mustermann      |

In [70]:
def f(header, data_rows, width):
    hlines = ('=' * width, ) * len(header)
    fstring = '|' + ' {{:<{width}}} '.format(width = width) * len(header) + '|'
    rows = [header, hlines] +  data_rows
    for row in rows:
        print(fstring.format(*row))

In [71]:
header = ('Vorname', 'Nachname')
data_rows = [('Anna',  'Meier'), 
             ('Hans', 'Mustermann'),
            ] 

f(header, data_rows, 15)

| Vorname          Nachname        |
| ===============  =============== |
| Anna             Meier           |
| Hans             Mustermann      |

In [73]:
header = ('Vorname', 'Nachname', 'Email')
data_rows = [('Anna',  'Meier', 'Anna.Meier@foo.ch'), 
             ('Hans', 'Mustermann', 'Hans.Mustermann@foo.ch'),
            ] 

f(header, data_rows, 20)

| Vorname               Nachname              Email                |
| ====================  ====================  ==================== |
| Anna                  Meier                 Anna.Meier@foo.ch    |
| Hans                  Mustermann            Hans.Mustermann@foo.ch |

### 3 Delegiere Ausgabe an Funktion

In [3]:
# Benutze die Funktion row2str(row, width)

def row2str1(row, width):
    s1, s2 = row
    s1 = s1.ljust(width)
    s2 = s2.ljust(width)
    return '|{}|{}|'.format(s1, s2)    

# Table layout
COL_WIDTH = 15
HEADER    = ('First Name', 'Last Name')
FSTRING   = '|{}|{}|'
HCHAR     = '='

# horizontal line, table row(s)
hline  = (HCHAR * COL_WIDTH, HCHAR * COL_WIDTH)
name   = ('Hans', 'Muster')

# print header
print(row2str1(HEADER, COL_WIDTH))

# print horizontal line
print(row2str1(hline, COL_WIDTH))

# print name
print(row2str1(name, COL_WIDTH))

|First Name     |Last Name      |
|===============|===============|
|Hans           |Muster         |

### 4 Benutze For-Schleife

In [4]:
# Benutze die Funktion row2str(row, width)
# Benutze For-Schleife um rows auszugeben
COL_WIDTH = 15
HEADER    = ('First Name', 'Last Name')
FSTRING   = '|{}|{}|'
HCHAR     = '='

# horizontal line, table row(s)
hline  = (HCHAR * COL_WIDTH, HCHAR * COL_WIDTH)
names = [('Elias', 'Kopf'),
         ('Jennifer', 'Müller'),
         ('Oliver', 'Pfenniger'),
         ('René', 'Scheidegger'),
         ('Jakob', 'Sutter')]

rows = [HEADER, hline] + names
for row in rows:
    s = row2str1(row, COL_WIDTH)
    print(s)

|First Name     |Last Name      |
|===============|===============|
|Elias          |Kopf           |
|Jennifer       |Müller         |
|Oliver         |Pfenniger      |
|René           |Scheidegger    |
|Jakob          |Sutter         |

### Variable Anzahl Spalten

In [5]:
# variable Anzahl Spalten, Width immer gleich

def row2str2(row, width):   
    # fstring abhaengig von Anzahl Spalten
    fstring = '|' + '{}|' * len(row)
    # Argumente fuer fstring.format
    args = []
    
    for s in row:
        s = s.ljust(width)
        args.append(s)
   
    return fstring.format(*args) 

HEADER = ('First Name', 'Last Name', 'Email')
COL_WIDTH = 15

hline  = ['=' * COL_WIDTH for h in HEADER]
names = [('Elias', 'Kopf', 'elias.kopf@edu.teko.ch'),
         ('Jennifer', 'Müller', 'jennifer.mueller@edu.teko.ch'),
         ('Oliver', 'Pfenniger', 'oliver.pfenniger@edu.teko.ch'),
         ('René', 'Scheidegger', 'rene.scheidegger@edu.teko.ch'),
         ('Jakob', 'Sutter', 'jakob.sutter@edu.teko.ch')]

rows = [HEADER, hline] + names
for row in rows:
    s = row2str2(row, COL_WIDTH)
    print(s)

|First Name     |Last Name      |Email          |
|===============|===============|===============|
|Elias          |Kopf           |elias.kopf@edu.teko.ch|
|Jennifer       |Müller         |jennifer.mueller@edu.teko.ch|
|Oliver         |Pfenniger      |oliver.pfenniger@edu.teko.ch|
|René           |Scheidegger    |rene.scheidegger@edu.teko.ch|
|Jakob          |Sutter         |jakob.sutter@edu.teko.ch|

### 5 Unterschliedliche Spaltenbreiten, Automatische Bestimmung der Spaltenbreite

In [2]:
# Unterschliedliche Spaltenbreite
# Benutze die Funktion row2str(row, widths)
# Benutze For-Schleife um rows auszugeben


def get_widths(header, rows):
    widths = [len(h) for h in header]
    
    for row in rows:
        for i,item in enumerate(row):
            widths[i] = max(widths[i], len(item))
    return widths  

def row2str3(row, widths):    
    fstring = '|' + '{}|' * len(row)
    args = []
    
    for s, w in zip(row, widths):
        s = s.ljust(w)
        args.append(s)
   
    return fstring.format(*args)

HEADER = ('First Name', 'Last Name', 'Email')
names = [('Elias', 'Kopf', 'elias.kopf@edu.teko.ch'),
         ('Jennifer', 'Müller', 'jennifer.mueller@edu.teko.ch'),
         ('Oliver', 'Pfenniger', 'oliver.pfenniger@edu.teko.ch'),
         ('René', 'Scheidegger', 'rene.scheidegger@edu.teko.ch'),
         ('Jakob', 'Sutter', 'jakob.sutter@edu.teko.ch')]

widths = get_widths(HEADER, names)
hline  = ['=' * i for i in widths]

rows = [HEADER, hline] + names
for row in rows:
    s = row2str3(row, widths)
    print(s)

|First Name|Last Name  |Email                       |
|==========|===========|============================|
|Elias     |Kopf       |elias.kopf@edu.teko.ch      |
|Jennifer  |Müller     |jennifer.mueller@edu.teko.ch|
|Oliver    |Pfenniger  |oliver.pfenniger@edu.teko.ch|
|René      |Scheidegger|rene.scheidegger@edu.teko.ch|
|Jakob     |Sutter     |jakob.sutter@edu.teko.ch    |

### 6 Ausgabe der Tabelle mit Funktion `print_table`

In [2]:
# Automatische Bestimmung der Spaltenbreite
# Funktion zur Ausgabe der Table
def get_widths(header, rows):
    widths = [len(h) for h in header]
    
    for row in rows:
        for i,item in enumerate(row):
            widths[i] = max(widths[i], len(item))
    return widths      

def print_table(header, rows):    
    widths = get_widths(header, rows)
    hline = ['=' * i for i in widths]
    
    for row in [header, hline] + rows:
        print(row2str3(row, widths))

HEADER = ('First Name', 'Last Name', 'Email')
names = [('Elias', 'Kopf', 'elias.kopf@edu.teko.ch'),
         ('Jennifer', 'Müller', 'jennifer.mueller@edu.teko.ch'),
         ('Oliver', 'Pfenniger', 'oliver.pfenniger@edu.teko.ch'),
         ('René', 'Scheidegger', 'rene.scheidegger@edu.teko.ch'),
         ('Jakob', 'Sutter', 'jakob.sutter@edu.teko.ch')]

print_table(HEADER, names)

|First Name|Last Name  |Email                       |
|==========|===========|============================|
|Elias     |Kopf       |elias.kopf@edu.teko.ch      |
|Jennifer  |Müller     |jennifer.mueller@edu.teko.ch|
|Oliver    |Pfenniger  |oliver.pfenniger@edu.teko.ch|
|René      |Scheidegger|rene.scheidegger@edu.teko.ch|
|Jakob     |Sutter     |jakob.sutter@edu.teko.ch    |

### 7 Tabelle zu String konvertieren, statt direkt auszugeben

In [3]:
def get_widths(header, rows):
    widths = [len(h) for h in header]
    
    for row in rows:
        for i,item in enumerate(row):
            widths[i] = max(widths[i], len(item))
            
    return widths      

def table2str(header, rows):    
    res = []
    
    widths = get_widths(header, rows)
    hline = ['=' * w for w in widths]
   
    for row in [header, hline] + rows:
        res.append(row2str3(row, widths))
        
    return '\n'.join(res)  

HEADER = ('First Name', 'Last Name', 'Email')
names = [('Elias', 'Kopf', 'elias.kopf@edu.teko.ch'),
         ('Jennifer', 'Müller', 'jennifer.mueller@edu.teko.ch'),
         ('Oliver', 'Pfenniger', 'oliver.pfenniger@edu.teko.ch'),
         ('René', 'Scheidegger', 'rene.scheidegger@edu.teko.ch'),
         ('Jakob', 'Sutter', 'jakob.sutter@edu.teko.ch')]

s = table2str(HEADER, names)
print(s)

|First Name|Last Name  |Email                       |
|==========|===========|============================|
|Elias     |Kopf       |elias.kopf@edu.teko.ch      |
|Jennifer  |Müller     |jennifer.mueller@edu.teko.ch|
|Oliver    |Pfenniger  |oliver.pfenniger@edu.teko.ch|
|René      |Scheidegger|rene.scheidegger@edu.teko.ch|
|Jakob     |Sutter     |jakob.sutter@edu.teko.ch    |

In [4]:
header = ('Vorname', 'Name')
rows = [('Anna',  'Meier'), 
        ('Hans', 'Mustermann'),
       ]

In [5]:
s = table2str(header, rows)
print(s)

|Vorname|Name      |
|=======|==========|
|Anna   |Meier     |
|Hans   |Mustermann|