### Scheizer StÃ¤dte mit mehr als 10'000 Einwohner

***
&Ouml;ffne cities.txt, lies alle Zeilen ein und entferne white-space von rechts
***

In [ ]:
lines = []
with open('cities_.txt', mode = 'r') as f:
    for line in f:
        lines.append(line.rstrip())
  
# gib zur Kontrolle die ersten 4 Zeilen aus
lines[:4]

In [ ]:
# ebenso die letzten 2 Zeilen
lines[-2:]

***
Trenne Zeilen beim Tabulator '\t', entferne Spaces von rechts,
verwandle rechte Spalte in Integers. Ersetzte vorg&auml;ngig
`"'"` duch `''` mit `str.replace("'",'')`.
***

In [ ]:
table_cities = []

for row in lines:
    cols = row.split('\t')
    cols = [col.strip() for col in cols]
    
    # letztes Element von cols in int umwandeln, 
    # zuerst ' im String entfernen
    last = cols[-1]
    population  = int(last.replace("'", ''))
    cols[-1] = population
    
    # erstes Element von cols weglassen
    table_cities.append(cols[1:])

In [ ]:
table_cities[:3]

In [ ]:
table_cities[-2:]

***
Als Tabelle mit `table2str`
***

In [ ]:
from toolbox import print_as_table
# print_as_table(['Stadt', 'Kanton', 'Einwohner'], table_cities[:])

***
Dictionary erstellen mit St&auml;dtenamen als Keys.  
Die Werte sind Dictionaries der Form  
`{'KANTON': 'ZH', 'EINWOHNER': 396027}`
***

In [ ]:
cities = {}
keys = ['KANTON', 'EINWOHNER']
for row in table_cities:
    cities[row[0]] = dict(zip(keys,row[1:]))

In [ ]:
{k:cities[k] for k in list(cities)[:2]}

In [ ]:
{k:cities[k] for k in list(cities)[-2:]}

***
Frage nach Stadt und gib Einwohnerzahl aus
***

In [ ]:
city = input('Stadt')
if city in cities:
    population = cities[city].get('EINWOHNER', '?')
    print('{} hat {} Einwohner'.format(city, population))
else:
    print('{} nicht gefunden'.format(city))

***
**Welcher Kanton hat welche St&auml;dte**?
***

In [ ]:
# Kantonskuerzel -> Staedteliste 
kt_cities = {}
for city, kt, n in table_cities:
    kt_cities.setdefault(kt, []).append(city)

kt_cities['BE']

In [ ]:
kt_count = {}
for kt, cities in kt_cities.items():
    kt_count[kt] = len(cities)

kt_count['ZH']